.App {
  box-sizing: border-box;
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  padding: 0 20px;
}

.Todolist {
  width: max(600px, 50vw);
}

h1 {
  text-align: center;
}

.input-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  display: inline-block;
  padding: 10px 16px;
  border: 1px solid #282c34;
  border-radius: 5px;
  width: calc(100% - 130px);
  margin-right: 15px;
  font-size: 16px;
  background-color: transparent;
  transition: all .3s ease;
}

.input:focus {
  outline: none;
  border-color: #eee;
  background-color: #282c34;
  color: #eee;
}

.add-btn {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #282c34;
  color: #eee;
  border: 1px solid transparent;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.add-btn:hover {
  background-color: #eee;
  color: #282c34;
  border-color: #282c34;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
  padding: 10px 16px;
  border: 1px solid #282c34;
  border-radius: 5px;
  background-color: #eee;
  font-size: calc(8px + 2vmin);
  font-style: italic;
  text-transform: capitalize;
  transition: all .3s ease;
}

.list-item input[type="checkbox"] {
  cursor: pointer;
}

.list-item button {
  border: 1px solid #282c34;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s ease;
}

.list-item button:hover {
  background-color: #282c34;
  color: #eee;
}

.btn-wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 12px;
}

.btn-wrap button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #282c34;
  color: #eee;
  border: 1px solid transparent;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-wrap button:hover {
  background-color: #eee;
  color: #282c34;
  border-color: #282c34;
}

div+div {
  margin-left: 30px;
}